@import "tailwindcss";

/* Size  */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2947a9;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c7be4;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: Arial, Roboto Helvetica, sans-serif, Roboto; */
}
