/* @import "tailwindcss"; */

/* Size  */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6a4c65;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e7b8a;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
