@import "tailwindcss";

/* Size  */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2947A9;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #5c7be4;
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
  